<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Text Utility-About</title>
    <!-- Favicon-->

    <style>
.footer {
   		position: fixed;
   		left: 0;
   		bottom: 0;
   		width: 100%;
   		text-align: center;
   		display: block;
   		backdrop-filter:blur(10px);
		}
		a{
		text-decoration:none;
		color:white;
		padding:10px;
		}
		.fa{	font-size: 25px;}
		.fa:hover{font-size: 27px;color:#ff3054;text-decoration:none;}

</style>
  </head>
  <body style="background: linear-gradient(254deg, rgba(27,27,36,1) 0%, #0c1218 27%, rgb(19 20 32) 67%, rgb(12 11 22) 100%) no-repeat fixed;line-height:2.0;">
<div style="max-width:75%;display: block;margin: auto;">
  <nav class="navbar navbar-expand-sm navbar-dark">
  <a class="navbar-brand" href="/">Text Utility</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/about">About Me</a>
      </li>

    </ul>
  </div>

</nav>

</div>
{%load static %}
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6" style="text-align-last:center">
      <IMG src="{%static 'textutils/profile-min.jpg' %}" class="rounded img-fluid" style="max-width:80%;filter: grayscale(0.3) contrast(1.1); border-radius: 50rem!important;">
    </div>
    <div class="col-sm-12 col-md-6 text-white" style="padding-top:15px;">
      <h2>RITIK DESWAL</h2>
      <h5>Btech CSE student</h5>
      <br>
      I am a software developer with
experience in designing and
development. I'm highly proficient in
python and adobe creative suite.
Extremely motivated to adding new
skills and professional growth.
      <br><br>
      This project was created in Django framework.
      <br><a href="https://www.linkedin.com/in/ritikdeswal77/" class="fa fa-linkedin" target="_blank"></a>
      <a href="https://www.instagram.com/scorpion_graphic/" class="fa fa-instagram" target="_blank"></a>
      <a href="https://github.com/ritikdeswal" class="fa fa-github" target="_blank"></a>
    </div>
  </div>

</div>
<div style="clear: both; height: 60px;"></div>
<footer class="footer">
  <div class="container">
    <span class="text-secondary">&#169 2021 SCORPION-TECH </span>
  </div>
</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <script>
      function copy() {
        // copied from https://stackoverflow.com/questions/36639681/how-to-copy-text-from-a-div-to-clipboard
        if (document.selection) {
    var range = document.body.createTextRange();
    range.moveToElementText(document.getElementById("copy-text"));
    range.select().createTextRange();
    document.execCommand("copy");

  } else if (window.getSelection) {
    var range = document.createRange();
    range.selectNode(document.getElementById("copy-text"));
    window.getSelection().addRange(range);
    document.execCommand("copy");
    alert('Text Copied')

  }

      }
    </script>
  </body>
</html>
